<template lang="html">
  <div
    :id="id">
    <VStyle v-if="css.length">
      {{css}}
    </VStyle>
    <div
      v-for="a in curSlots"
      :key="a"
      :class="'grid-cell cell-' + a">
      <slot :name="a" />
    </div>
    <slot />
  </div>
</template>

<script>
import debounce from 'lodash/debounce'
import VStyle from './VStyle.vue'
import { parseGrid, gridToCss } from '../utils/parseCssGrid'
export default {
  name: 'CssGrid',
  components: {
    VStyle
  },
  props: {
    /**
     * Defaut grid template, for all screen sizes, must contains linebreaks
     */
    xs: {
      type: String,
      required: true
    },
    /**
     * Grid template for screens starting at 48em (768px) wide by default
     */
    sm: {
      type: String
    },
    /**
     * Grid template for screens starting at 64em (1024px) wide by default
     */
    md: {
      type: String
    },
    /**
     * Grid template for screens starting at 75em (1200px) wide by default
     */
    xl: {
      type: String
    },
    /*
     * Must be an Array of 4 breakpoints, default: [{s: 'sm', w: 768},{s: 'md', w: 1024},{s: 'xl', w: 1200}]
     */
    bp: {
      type: Array,
      default: () => [
        {s: 'sm', w: 768},
        {s: 'md', w: 1024},
        {s: 'xl', w: 1200}
      ]
    },
    /**
     * Gap between cells (with unit ex: '20px'), apply only to small screens
     */
    xsGap: {
      type: String
    },
    /**
     * Gap between cells (with unit ex: '20px'), apply only to screens starting at 48em (768px) wide by default
     */
    smGap: {
      type: String
    },
    /**
     * Gap between cells (with unit ex: '20px'), apply only to screens starting at 64em (1024px) wide by default
     */
    mdGap: {
      type: String
    },
    /**
     * Gap between cells (with unit ex: '20px'), apply only to screens starting at 75em (1200px) wide by default
     */
    xlGap: {
      type: String
    }
  },
  data () {
    return {
      css: '',
      ww: 0
    }
  },
  computed: {
    id () {
      return 'grid-' + this._uid
    },
    allProps () {
      return this.bp.map(b => b.s + b.w).join() +
       this.xs +
       this.sm +
       this.md +
       this.xl +
       this.xsGap +
       this.smGap +
       this.mdGap +
       this.xlGap
    },
    areas () {
      let gridTemplates = this.bp.map(bp => bp.s)
      gridTemplates.unshift('xs')
      let bp = {}
      const uniq = Object.keys(this.$options.propsData)
        .filter(k => gridTemplates.includes(k))
        .map(k => {
          const v = this.$options.propsData[k]
          const bpas = parseGrid(v).areas
          bp[k] = bpas
          return bpas
        }).reduce((areas, t) => {
          for (let a of t) {
            if (!areas.includes(a)) areas.push(a)
          }
          return areas
        }, [])
      return { uniq, bp }
    },
    curSlots () {
      if (isNaN(this.bp[0].w)) {
        return this.areas.uniq
      } else {
        let curBp = this.bp.reduce((bp, p) => {
          if (this.ww > p.w && this.areas.bp[p.s]) bp = p.s
          return bp
        }, null)
        if (!curBp) curBp = 'xs'
        return this.areas.bp[curBp]
      }
    }
  },
  watch: {
    allProps () {
      this.setCss()
    }
  },
  methods: {
    setCss () {
      const props = Object.keys(this.$options.propsData)
      const usedBp = Object.keys(this.areas.bp)
      let bp = this.bp
        .filter(b => usedBp.includes(b.s))
        .map(b => b.s)
      bp.unshift('xs')
      const templates = bp.reduce((tpls, bp) => {
        const gapKey = bp + 'Gap'
        const tpl = this.$options.propsData[bp]
        const gap = props.includes(gapKey) ? this.$options.propsData[gapKey] : 0
        const w = this.bp.find(b => b.s === bp) ? this.bp.find(b => b.s === bp).w : 0
        tpls.push({w, gap, tpl})
        return tpls
      }, [])
      // const slots = this.areas.uniq
      const id = this.id
      const css = gridToCss(id, templates)
      this.css = css
    },
    getWw () {
      const w = window
      const d = document
      const e = d.documentElement
      const g = d.getElementsByTagName('body')[0]
      this.ww = w.innerWidth || e.clientWidth || g.clientWidth
    },
    debounceGetWw: debounce(function () {
      this.getWw()
    }, 1000)
  },
  mounted () {
    this.getWw()
    window.addEventListener('resize', this.debounceGetWw)
    this.setCss()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.debounceGetWw)
  }
}
</script>

<style lang="css">
.grey-cell {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  font-family: monospace;
}
.grid-cell > div {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
</style>
