<template lang="html">
  <div
    :class="cssClasses">
    <slot />
  </div>
</template>

<script>
import flexMixin from '../mixins/flexMixin'
export default {
  name: 'FlexRow',
  mixins: [flexMixin],
  props: {
    /**
     * Reverse column's order
     */
    reverse: {
      type: Boolean
    },
    /**
     * Add 0.5em gutters to columns
     */
    gutters: {
      type: Boolean
    }
  },
  methods: {
    setCss () {
      let css = 'row'
      if (this.reverse) css += ' reverse'
      if (this.gutters) css += ' gutters'
      // get list of props used and remove 'reverse' and 'gutters'
      let props = Object.keys(this.$options.propsData)
      const reverseIndex = props.indexOf('reverse')
      if (reverseIndex > -1) props.splice(reverseIndex, 1)
      const guttersIndex = props.indexOf('gutters')
      if (guttersIndex > -1) props.splice(guttersIndex, 1)
      // create css classes
      const classes = props.map(p => {
        return this.$options.propsData[p].split(' ')
          .map(c => c + '-' + p)
          .join(' ')
      }).join(' ')
      if (classes.length) css += ' ' + classes
      this.cssClasses = css
    }
  }
}
</script>

<style lang="scss">
@import '../assets/flexboxgrid.css';
.grey-box {
  display: block;
  position: relative;
  padding: 1em;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  text-align: center;
  font-family: monospace;
}
</style>
