<template lang="html">
  <div :class="cssClasses">
    <div class="box">
      <slot />
    </div>
  </div>
</template>

<script>
import flexMixin from '../mixins/flexMixin'
export default {
  name: 'FlexCol',
  mixins: [flexMixin],
  methods: {
    setCss () {
      const base = 'col-'
      const props = Object.keys(this.$options.propsData)
      // create css classes
      let css = base + 'xs'
      const cssClasses = props.map(bp => {
        return this.$options.propsData[bp].toString()
          .split(' ')
          .map(p => {
            if (p === 'first' || p === 'last') {
              return p + '-' + bp
            } else {
              return base + bp + '-' + p
            }
          })
          .join(' ')
      }).join(' ')
      if (cssClasses.length) css += ' ' + cssClasses
      this.cssClasses = css
    }
  }
}
</script>
